
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            height: 100vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .star_rating {
            user-select:none;
            padding: 1.4rem 2.5rem;

            text-align: center;
            animation: slide-up 1s ease;
        }

        @keyframes slide-up {
            0% {
                opacity: 0;
                transform: translateY(50px);
            }
            100% {
                opacity: 1;
                transform: translateY(0px);
            }
        }

        .star {
            font-size: 3rem;
            color: #ff9800;
            background-color: unset;
            border: none;
        }

        .star:hover {
            cursor: pointer;
        }

        .rating_heading {
            animation: scale-up 1s ease;
        }

        @keyframes scale-up {
            0% {
                opacity: 0;
                transform: scale(.5);
            }
            100% {
                opacity: 1;
                transform: scale(1);
            }
        }
   